# Created by https://www.richie-bendall.ml/gitattributes-generator/
# Introduced at https://kr-zephyr.github.io/github/2017/06/07/github-change-repo-language.html

# Java sources

# These files are binary and should be left untouched

# End of https://www.richie-bendall.ml/gitattributes-generator/